.env
.env.*
!.env.example
vendor/
node_modules/
storage/app/private/
storage/app/public/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite
public/storage/
public/hot
public/build/
.phpunit.cache/
.phpunit.result.cache
*.log
